*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: white;
}
.header{
/*margin: 16px 16px;*/
}
.detail{
	margin-top: 16px;
}
.container{
	width: 1140px;
	margin: 0 auto;
}
.bio{
	width: 55%;
	background: #015761;
}
.detail ul li{
	display: inline-block;
	margin: 0px 16px;
	list-style: none;
}
.detail h3{
	margin-left: 16px;
	margin-bottom: 10px;
}
.detail-2{
	margin-left: 40%;
    margin-top: 20%;
}
.detail-2 h1{
	font-size: 54px;
	color: white;
}
h3{
	color: #f7dc4f;
	font-weight: 300;
}
p{
	color: white;
}
.navmap{
	display: flex;
}
/*****************************/

.header-2{
	background: #f1f0f0;
	padding: 28px;
}
.about{
	text-align: center;
	margin: 48px 0px;
}
.about p{
	color: black;
	padding: 33px;
}
.about p br{
	margin-top: 20px;
}

.about h1{
	margin: 24px 0px;
	color: #015761;
}
.about button{
	margin: 16px 0px;
	background: #f7dc4f;
	padding: 10px 29px;
	border: none;
	border-radius: 3px;
}

.about button a{
	color: #015761;
}
/*****************************/

.middle, .photos{
	text-align: center;
	margin: 48px 0px;
	color: #015761;
	font-size: 24px;
}

/*****************************/

.header-4{
	background-image: url(../assignment-img/img-2.PNG);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
}
/*****************************/

.item-1, .item-2{
	text-align: center;
}

/*****************************/
.header-7{
	   margin: 88px auto;
}
.h-1{
	color: #f7dc4f;
	margin: 16px 0px;
}
.h-4{
	color: white;
	margin: 8px 0px;
}

.h-5{
	color: white;
	margin: 7px 0px;
}
.navbar{
	display: flex;
	background: #015761;
}

.contact{
	margin-left: 24%;
	margin-top: 6%;
}
.contact a i{
	margin: 16px;
}